.App {
  text-align: center;
}

body {
  background-image: url(https://wallpapercave.com/wp/ybfyfCy.jpg);
  background-size: cover;
  height: 100vh;
   font-family: 'Comfortaa', cursive;
font-family: 'Noto Sans JP', sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navy{
  margin-left: 60%;
  margin-right: 3%;
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 

.carousel-item {
  height: 30rem;
  background: #777
}

Form {
    color: #333333;
     font-family: 'Comfortaa', cursive;
font-family: 'Noto Sans JP', sans-serif;
    padding: 35px 40px 40px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #FFFFFF;
}

.banner{
  color: white;
  font-family: 'Comfortaa', cursive;
font-family: 'Noto Sans JP', sans-serif;

}

.card{
  margin-inline: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h1{
  color: white;
  padding-block: 1rem;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}



.slide-text{
  color:white;
  font-family: 'Comfortaa', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}
